.terraform
terraform.tfstate
solution_params.json
ps-parameters.json
ps-parameters-mini.json
terraform.tfvars
src/terraform.tfvars
src/.terraform.tfstate.lock.info
src/terraform.tfstate.backup
src/terraform.log
src/HDInsight/template.json
docker/run.sh
output/output.json
output/getting-started.json
output
.idea
src/azure_set_tags.log
ps-utils.iml